<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beiming.evidenceplatform.dao.EvidenceTypeMapper">
    <resultMap id="BaseResultMap"
               type="com.beiming.evidenceplatform.domain.evidenceplatform.EvidenceType">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
		select   *  from  evidence_type
	</select>

    <select id="findByIdToEvidenceType" resultType="java.lang.String">
        select   name  from  evidence_type where id=#{id}
    </select>
</mapper>
